.imageResults {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .imageGrid {
    margin-top: 50px;
    position: relative;
    img {
      object-fit: cover;
      height: 400px;
      width: 400px;
    }
    .seeMore {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      opacity: 0;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover,
      &:focus {
        opacity: 0.9;
        color: white;
        background-color: black;
      }
    }
    .seeText {
      padding-bottom: 30px;
      cursor: pointer;
      &:hover,
      &:focus {
        color: #efc050;
      }
    }
  }
}

.resultsHeart {
  cursor: pointer;
  &:hover,
  &:focus {
    color: rgb(255, 0, 68);
  }
}
