@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h1,
h2,
h3,
ul,
p,
a,
input,
textarea {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1 {
  font-family: "Dancing Script", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 25px;
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
}

.modal {
  height: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px black solid;
}
.modal .imageContainer {
  width: 650px;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal .imageContainer img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal .textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
}
.modal .textContainer .close {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  cursor: pointer;
}
.modal .textContainer .close:hover, .modal .textContainer .close:focus {
  color: #245e81;
}
.modal .textContainer .heart {
  font-size: 1.5rem;
  margin-top: 20px;
  cursor: pointer;
}
.modal .textContainer .heart:hover, .modal .textContainer .heart:focus {
  color: #ff0044;
}
.modal .description {
  padding-top: 50px;
  font-size: 0.8rem;
}

.liked {
  color: #ff0044;
}

.imageResults {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imageResults .imageGrid {
  margin-top: 50px;
  position: relative;
}
.imageResults .imageGrid img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  width: 400px;
}
.imageResults .imageGrid .seeMore {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imageResults .imageGrid .seeMore:hover, .imageResults .imageGrid .seeMore:focus {
  opacity: 0.9;
  color: white;
  background-color: black;
}
.imageResults .imageGrid .seeText {
  padding-bottom: 30px;
  cursor: pointer;
}
.imageResults .imageGrid .seeText:hover, .imageResults .imageGrid .seeText:focus {
  color: #efc050;
}

.resultsHeart {
  cursor: pointer;
}
.resultsHeart:hover, .resultsHeart:focus {
  color: #ff0044;
}

footer {
  margin-top: 50px;
}
footer p {
  text-align: center;
  padding: 15px 0;
  background-color: #232227;
  color: #f8f8f6;
}

@media (max-width: 1200px) {
  .modalContainer {
    width: 100vw;
    overflow: scroll;
  }

  .modal {
    flex-direction: column;
    width: 600px;
    align-items: center;
  }
  .modal .imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
  }
  .modal .imageContainer img {
    width: 100%;
  }
  .modal .textContainer {
    width: 100%;
  }
  .modal .description {
    padding-top: 20px;
  }
}
@media (max-width: 800px) {
  .modal {
    width: 100%;
    height: 100vh;
    overflow: scroll;
  }
}
@media (max-width: 450px) {
  .imageResults .imageGrid img {
    height: 450px;
    width: 450px;
  }
}/*# sourceMappingURL=App.css.map */